@(issueForm: Form[Issue])(implicit msg: play.api.i18n.Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f)}

@main("issue-Self-Service") {
	<!-- Begin page content -->
	<div class="container">
		<div class="page-header">
			<h1>Add an issue</h1>
		</div>
		
		<div class="row">
			<div class="col-md-8">
				@form(routes.Application.save()) {	
					<fieldset>@issues.formElements(issueForm)</fieldset>
				
					<div class="actions">
						<input type="submit" value="Create this issue" class="btn btn-primary"> or
						<a href="@routes.Application.list()" class="btn btn-default">Cancel</a>
					</div>			
				}
			</div>
			<div class="col-md-4">
				@info()
			</div>
		</div>
	</div>
}
